#header {
    height: 70px;
    background: #10284e;
    color: #fff;
}

#branding h1 {
    color: #fff;
}

a:link,
a:visited {
    color: #10284e;
}

div.breadcrumbs {
    background: #30caa0;
    color: #fff;
}


div.breadcrumbs a {
    background: #30caa0;
}

.module h2, .module caption, .inline-group h2 {
    background: #30caa0;
}


element.style {
}

input[type="submit"], button {
    -webkit-appearance: none;
    appearance: none;
}

.submit-row input {
    height: 35px;
    line-height: 15px;
    margin: 0 0 0 5px;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #10284e;
    color: #fff;
}